body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#time {
    font-size: 4em;
}

@media (max-width: 600px) {
    #time {
        font-size: 2em;
    }
}
